### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*.sqlite3
media
venv

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
staticfiles/

### PyCharm ###
.idea

# CMake
cmake-build-*/

*.env
