{% extends 'Ui/base.html' %}
{% block title %}HiStory{% endblock %}


{% block body %}


    <div class="container">

        <div class="row">


            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>New post {{ result }}</h1>
                <form accept-charset="UTF-8" action="" method="POST" style="color: gray">{% csrf_token %}

                    <input type="text" name="story" aria-describedby="emailHelp" placeholder="add tweet" style=" border: 1px
                    solid #E5E5E4;height: 52px;     width: 100%;padding: 0 8px;
    box-sizing: border-box;margin-bottom: 10px;" required="required">
                    <input type="text"  name="username" placeholder="username" style=" border: 1px solid #E5E5E4;height: 52px;     width: 100%;padding: 0 8px;
    box-sizing: border-box;margin-bottom: 10px;" required="required">
                    <input type="value"  name="tags" placeholder="tags" style=" border: 1px solid #E5E5E4;height: 52px;     width: 100%;padding: 0 8px;
    box-sizing: border-box;margin-bottom: 10px;" required="required">


                    <input type="submit" name="login" class="login loginmodal-submit" value="SEND TWEET"
                           style="font-size: large">
                </form>


            </div>

        </div>
    </div>
{% endblock %}