{% extends 'Ui/base.html' %}
{% block title %}HiStory{% endblock %}


{% block body %}


<div class="container">

<div class="row">
<div class="col-md-8 col-md-offset-2 text-center">
{% if status == 'error' %}
    <h2 class="text-danger">POST COULDN'T BE CREATED. ERROR MESSAGE:</h2>
    <h3>{{ message }}</h3>
    <br>
{% elif status == 'success' %}
    <h2 class="text-success">POST WAS SUCCESSFULLY CREATED. TWEET:</h2>
    <h3>{{ message }}</h3>
    <br>
{% endif %}


<div class="jumbotron">
<h2 class="text-primary font-weight-bold">CREATE A POST (TWEET)</h2>
</br>
<form action="/ui/create_post" method="post">
{% csrf_token %}
	<div class="form-group row">
    	<label class="col-sm-5 col-form-label text-muted">STORY:</label>
      	{{ form.story }}
  	</div>
	<div class="form-group row">
    	<label class="col-sm-5 col-form-label text-muted">USERNAME:</label>
      	{{ form.username }}
  	</div>
	<div class="form-group row">
    	<label class="col-sm-5 col-form-label text-muted">TAGS (comma separated, no #):</label>
      	{{ form.tags }}
  	</div>
  <button type="submit" class="btn btn-primary">CREATE</button>
</form>
</div>

</div>

</div>
</div>
{% endblock %}


