{% extends 'Ui/base.html' %}
{% block title %}HiStory{% endblock %}


{% block body %}


    <div class="container">

        <div class="row">


            <div class="col-md-6 col-md-offset-3 text-center" >
                <a href="https://github.com/bounswe/bounswe2018group7">
                    <img src="https://github.com/bounswe/bounswe2018group7/raw/master/docs/meeting/meeting_7.jpeg"
                         class="img-responsive" style="width: 500px;height: 400px;"></a>
            </div>

        </div>
    </div>
{% endblock %}